{% extends "base.html" %}
{% block content %}

<div class="dashboard-card">
    <h2>Travel History for {{ customer_email }}</h2>

    {% if flights %}
    <table class="styled-table">
        <thead>
            <tr>
                <th>Flight #</th>
                <th>From</th>
                <th>To</th>
                <th>Departure</th>
                <th>Arrival</th>
            </tr>
        </thead>
        <tbody>
            {% for f in flights %}
            <tr>
                <td>{{ f.flight_num }}</td>
                <td>{{ f.departure_airport }}</td>
                <td>{{ f.arrival_airport }}</td>
                <td>{{ f.departure_time }}</td>
                <td>{{ f.arrival_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No flight history found.</p>
    {% endif %}
</div>


{% endblock %}
